.Success {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

.Successhead {
  text-align: center;
  padding: 10vh 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Successhead img {
  margin-bottom: 4vh;
}

.Successhead h1 {
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ff9100;
}

.Successhead p {
  font-size: 38px;

  color: #ff9100;
}

.Successbt {
  text-decoration: none;
  padding: 0 30vh;
  text-decoration: none;
  display: flex;
  justify-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.Successbt .Reordersuccesbt {
  border: 2px solid;
  width: 450px;
  border-radius: 10px;
  color: #ff9100;
  padding: 1vh 6vh;
  text-decoration: none;
  background-color: white;
  margin-right: auto;
}

.Successbt .exitbt {
  border: 2px solid;
  width: 450px;
  border-radius: 10px;
  color: #ff9100;
  padding: 1vh 6vh;
  text-decoration: none;
  margin-left: auto;

  background-color: white;
}

@media screen and (max-width: 1024px) and (max-height: 768px) {
  .Successbt {
    margin-bottom: 4vh;
    padding: 0vh 10vh 5vh 10vh;
    font-size: 15px;
  }
  .Successbt .exitbt {
    margin-left: 5px;
    width: 800px;
  }
  .Successbt .Reordersuccesbt {
    margin-right: 5px;
    width: 800px;
  }

  .Successhead img {
    margin-bottom: 2vh;
  }
  .Successhead {
    padding: 6vh 2vh;
  }
  
}
