.Pref {
  font-family: "Montserrat", sans-serif;
  background: url(../../assets/Preferentialbg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.bt {
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  text-align: center;

  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: white;
  width: 90%;
  height: 20vh;
}

.bt h1 {
  font-size: 40px;
  font-weight: 800;
  padding-top: 4vh;
}

.bt-green {
  border: #06b700;
  background-color: #06b700;
  margin: 0 0 8vh 0;
}

.bt-blue {
  border: #0068ff;
  background-color: #0068ff;
}

@media screen and (max-width: 1024px) and (max-height: 768px) {
  .bt h1 {
    font-size: 6vh;
    font-weight: 900;
    padding-top: 3vh;
  }
}
